body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-wrapper {
  padding: 30px 30px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  background-color: #ffffff;
}
.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
.tit-weniv {
  display: block;
  width: 122px;
  margin: 0 auto;
}
.text-login {
  text-align: center;
  margin: 36px 0 32px 0;
}
.btn-login {
  display: block;
  padding: 17px 0 15px 0;
  border: 0;
  width: 440px;
  background-color: #2f80ed;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
}
